@import 'variables';
@import 'mq';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tablet) {
        font-size: 70%;
    }
    @include respond(laptop) {
        font-size: 75%;
    }
    @include respond(desktop) {
        font-size: 78%;
    }

    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    box-sizing: border-box;
    font-family: $font-ui;
}

main {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    height: -webkit-fill-available;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background: $board-color;
}