@import '../styles/variables';
@import '../styles/mq';
@import '../styles/mixins';

.playarea {
    position: relative;
    height: 33.33%;
    width: 100%;
}

.deck {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 1.5rem;

    @include playingCardSize();

    background: $color-white;
    border: 1px solid $color-black;

    & > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 90%;
        width: 85%;

        border: 2px solid $color-black;

        z-index: 500;
    }

    & > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 50%;
        width: 50%;

        background: rgba($color-black, 0.9);

        border-radius: 50%;
        border: 2px solid $color-black;
    }
}

.buttons {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include playingCardSize();
    width: 17rem;

    & > button {
        width: 100%;
        padding: 0.2rem 0;
        text-align: center;
        font-family: $font-ui;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        font-size: 2.2rem;
        font-weight: 500;

        color: $color-white;
        box-shadow: $shadow-light;

        background: rgba($color-black, 0.5);
        border: 2px solid $color-white;

        border-radius: 8px;

        &:hover {
            cursor: pointer;
        }
    }
}

.endgame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    display: flex;
    flex-direction: column;
}

.play_again_prompt {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    font-family: $font-ui;
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-white;
    background: rgba($color-black, 0.8);
    border: 2px solid $color-white;
    border-radius: 8px;

    animation: slideInRight 500ms;

    &:hover {
        cursor: pointer;
    }
}

.message {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px $color-white;
    color: $color-black;

    animation: slideInLeft 500ms;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(50rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}