@import '../styles/variables';
@import '../styles/mq';

.board {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    background: $board-color;
}