@import '../styles/variables';
@import '../styles/mq';

.playarea {
    position: relative;
    height: 33.33%;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 10rem);
        height: 200%;

        transform: translate(-5rem, -2.5rem);

        border-radius: 100%;
        border-top: 2px solid $color-white;
        background: rgba($color-black, 0.2);

        z-index: -1;
    }
}

.points {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 4.5rem;
    color: $color-white;

    // background: $board-color;

    transform: translateY(-2.5rem);
}